<div class="row" style="margin-top:10mm !important;">
    <div class="col-lg-3 col-md-3" style="padding: 2mm !important;height: 30mm !important;">
        <table style="height: 95% !important; width: 95% !important; border: 1px solid;" >
            <tr style="vertical-align: top !important;">
                <td style="padding-left: 4mm !important;">
                    <div style="height: 8mm !important; background-color: #fff;">
                        Selected States :
                       {{selectedStates}} 
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-lg-3 col-md-3" style="padding: 2mm !important;height: 30mm !important;">
        <table style="height: 95% !important; width: 95% !important; border: 1px solid;" >
            <tr style="vertical-align: top !important;">
                <td style="padding-left: 4mm !important;">
                    <div style="height: 8mm !important; background-color: #fff;">
                        Tested :
                       {{totalTested}}
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-lg-3 col-md-3" style="padding: 2mm !important;height: 30mm !important;">
        <table style="height: 95% !important; width: 95% !important; border: 1px solid;" >
            <tr style="vertical-align: top !important;">
                <td style="padding-left: 4mm !important;">
                    <div style="height: 8mm !important; background-color: #fff;">
                        Confirmed :
                       {{totalConfirm}} 
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-lg-3 col-md-3" style="padding: 2mm !important;height: 30mm !important;">
        <table style="height: 95% !important; width: 95% !important; border: 1px solid;" >
            <tr style="vertical-align: top !important;">
                <td style="padding-left: 4mm !important;">
                    <div style="height: 8mm !important; background-color: #fff;">
                        Recoverd :
                       {{totalRecoverd}} 
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div align="center">
    <label style="font:bold;">Graphical Representation</label>
</div>
<div align="center">
    <label style="font:bold;">Tested Confrim And Recoverd State</label>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div id="pieChart" ></div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div id="barChat"></div>
    </div>
</div>






